body {
    padding: 20px;
}

#darkModeToggleContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Disable transition for the dark mode toggle */
.no-transition * {
    transition: none !important;
}

/* Blockquote bar, since bootstrap isn't showing it properly for some reason */
blockquote {
    border-left: 2px solid #ddd;
    padding-left: 1em;
}
html[data-bs-theme="dark"] blockquote {
    border-color: #444;
}

@font-face {
    font-family: 'Precious';
    src: url('Precious.ttf');
}

.sygil {
    font-family: 'Precious', serif;
}

