body {
    padding: 20px;
}

#darkModeToggleContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Disable transition for the dark mode toggle */
.no-transition * {
    transition: none !important;
}

/* Blockquote bar, since bootstrap isn't showing it properly for some reason */
blockquote {
    border-left: 2px solid #ddd;
    padding-left: 1em;
}

html[data-bs-theme="dark"] blockquote {
    border-color: #444;
}

@font-face {
    font-family: 'Precious';
    src: url('lib/Precious.ttf');
}

.sygil {
    font-family: 'Precious', serif;
}

#save-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 3em;
    display: none;
}

.number-input[type=number]::-webkit-inner-spin-button,
.number-input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

#generator-output-container {
    display: none;
}

#new-preset-modal-codeblock {
    /* Preserve newlines and indentation */
    white-space: pre;
    display: inline-block;
}

/* Fix bootstrap-select CSS glitch that breaks dark mode */
.bootstrap-select .no-results {
    background: unset;
}

/* Hide the little arrow on the Bootstrap Select dropdown when it's invalid, since the invalid symbol is there instead */
.dropdown-toggle.is-invalid::after {
    display: none;
}

.btn {
    --bs-btn-disabled-opacity: 0.3;
}

#wordpack-bar {
    margin-bottom: -1px;
}

#wordpack-bar>button:last-child {
    border-bottom-right-radius: 0;
}

.strikethrough {
    text-decoration: line-through;
}

/* Document browser styles */
.document-browser .nav-link {
    border-color: var(--bs-secondary-border-subtle);
    border-width: var(--bs-nav-tabs-border-width);
    background-color: var(--bs-secondary-bg);
    text-align: left;
}

.document-browser .nav-link.active {
    /* Needed so bottom-border works properly since margin-bottom is -1 */
    z-index: 2;
}

.document-browser .nav-link:hover {
    z-index: 1;
}

.document-browser .nav-link:nth-child(even):not(.active) {
    background-color: var(--bs-tertiary-bg);
}

.document-browser .nav-link:hover {
    border-color: var(--bs-secondary);
}

.document-browser .nav-link.active+.nav-link:not(:hover),
.document-browser .nav-link:hover+.nav-link:not(.active) {
    border-top-color: transparent;
}

.document-browser .nav-link:has(+ .nav-link.active):not(:hover),
.document-browser .nav-link:has(+ .nav-link:hover):not(.active) {
    border-bottom-color: transparent;
}

.document-browser .tab-pane {
    margin-right: -1px;
}

.document-browser .tab-pane textarea {
    resize: none;
    margin-left: -1px;
}

.document-browser .nav-tabs {
    min-width: 15ch;
    --bs-nav-tabs-border-radius: 0;
    --bs-nav-tabs-link-active-border-color: var(--bs-secondary);
    direction: rtl;
    border-bottom-width: 0;
    /* Prevents scrollbar from appearing when unneeded */
    padding-bottom: var(--bs-nav-tabs-border-width);
}

.document-browser .nav-tabs * {
    direction: ltr;
}

.document-browser .nav-tabs .nav-link-danger {
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}